<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Кафе</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<section class="recept-card">
	    <div class="container">
	            <div class="row">
	                <div class="col-lg-3 col-sm-6 mb-3">
	                    <div class="recept-card">
	                        <div class="recept-image">
	                            <a href="#"><img src="http://dummyimage.com/250" alt=""></a>
	                        </div>
	                        <div class="recept-name">
	                            <h4><a href="#">Название рецепта</a></h4>
	                        </div>
	                        <div class="recept-bottom-like d-flex justify-content-between">
	                        	<div>
	                        		<p>Калорийность: 300 ккал</p>
	                        	</div>
	                            <div><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-fill" viewBox="0 0 16 16">
	  <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"/>
	</svg></a></div>
	                        </div>

	                    </div>

	                </div>
	                <div class="col-lg-3 col-sm-6 mb-3">
	                    <div class="recept-card">
	                        <div class="recept-image">
	                            <a href="#"><img src="http://dummyimage.com/250" alt=""></a>
	                        </div>
	                        <div class="recept-name">
	                            <h4><a href="#">Название рецепта</a></h4>
	                        </div>
	                        <div class="recept-bottom-like d-flex justify-content-between">
	                        	<div>
	                        		<p>Калорийность: 300 ккал</p>
	                        	</div>
	                            <div><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-fill" viewBox="0 0 16 16">
	  <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"/>
	</svg></a></div>
	                        </div>

	                    </div>

	                </div>
	                <div class="col-lg-3 col-sm-6 mb-3">
	                    <div class="recept-card">
	                        <div class="recept-image">
	                            <a href="#"><img src="http://dummyimage.com/250" alt=""></a>
	                        </div>
	                        <div class="recept-name">
	                            <h4><a href="#">Название рецепта</a></h4>
	                        </div>
	                        <div class="recept-bottom-like d-flex justify-content-between">
	                        	<div>
	                        		<p>Калорийность: 300 ккал</p>
	                        	</div>
	                            <div><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-fill" viewBox="0 0 16 16">
	  <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"/>
	</svg></a></div>
	                        </div>

	                    </div>

	                </div>
	                <div class="col-lg-3 col-sm-6 mb-3">
	                    <div class="recept-card">
	                        <div class="recept-image">
	                            <a href="#"><img src="http://dummyimage.com/250" alt=""></a>
	                        </div>
	                        <div class="recept-name">
	                            <h4><a href="#">Название рецепта</a></h4>
	                        </div>
	                        <div class="recept-bottom-like d-flex justify-content-between">
	                        	<div>
	                        		<p>Калорийность: 300 ккал</p>
	                        	</div>
	                            <div><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-fill" viewBox="0 0 16 16">
	  <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"/>
	</svg></a></div>
	                        </div>

	                    </div>

	                </div>
	                <div class="col-lg-3 col-sm-6 mb-3">
	                    <div class="recept-card">
	                        <div class="recept-image">
	                            <a href="#"><img src="http://dummyimage.com/250" alt=""></a>
	                        </div>
	                        <div class="recept-name">
	                            <h4><a href="#">Название рецепта</a></h4>
	                        </div>
	                        <div class="recept-bottom-like d-flex justify-content-between">
	                        	<div>
	                        		<p>Калорийность: 300 ккал</p>
	                        	</div>
	                            <div><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-fill" viewBox="0 0 16 16">
	  <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"/>
	</svg></a></div>
	                        </div>

	                    </div>

	                </div>
	                <div class="col-lg-3 col-sm-6">
	                    <div class="recept-card">
	                        <div class="recept-image">
	                            <a href="#"><img src="http://dummyimage.com/250" alt=""></a>
	                        </div>
	                        <div class="recept-name">
	                            <h4><a href="#">Название рецепта</a></h4>
	                        </div>
	                        <div class="recept-bottom-like d-flex justify-content-between">
	                        	<div>
	                        		<p>Калорийность: 300 ккал</p>
	                        	</div>
	                            <div><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-fill" viewBox="0 0 16 16">
	  <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"/>
	</svg></a></div>
	                        </div>

	                    </div>

	                </div>
	                <div class="col-lg-3 col-sm-6 mb-3">
	                    <div class="recept-card">
	                        <div class="recept-image">
	                            <a href="#"><img src="http://dummyimage.com/250" alt=""></a>
	                        </div>
	                        <div class="recept-name">
	                            <h4><a href="#">Название рецепта</a></h4>
	                        </div>
	                        <div class="recept-bottom-like d-flex justify-content-between">
	                        	<div>
	                        		<p>Калорийность: 300 ккал</p>
	                        	</div>
	                            <div><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-fill" viewBox="0 0 16 16">
	  <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"/>
	</svg></a></div>
	                        </div>

	                    </div>

	                </div>
	                <div class="col-lg-3 col-sm-6 mb-3">
	                    <div class="recept-card">
	                        <div class="recept-image">
	                            <a href="#"><img src="http://dummyimage.com/250" alt=""></a>
	                        </div>
	                        <div class="recept-name">
	                            <h4><a href="#">Название рецепта</a></h4>
	                        </div>
	                        <div class="recept-bottom-like d-flex justify-content-between">
	                        	<div>
	                        		<p>Калорийность: 300 ккал</p>
	                        	</div>
	                            <div><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-fill" viewBox="0 0 16 16">
	  <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"/>
	</svg></a></div>
	                        </div>

	                    </div>

	                </div>

	            </div>
	        </div>
    <section>

    </section>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    </section>
</body>
</html>

