<!DOCTYPE html>
<html lang="zxx" dir="ltr">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Регистрация</title>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/registr.css' %}">
</head>

<body>
    <div class="container">
    <h2>Регистрация</h2>
    <form action="registration.php" method="POST">
      <div class="form-group">
        <label for="name">Имя:</label>
        <input type="text" id="name" name="name" required>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <div class="form-group">
        <button type="submit" class="button-1">Создать аккаунт</button>
      </div>
    </form>
        <form action="page/new.html" target="_blank">
            <button class="button-2">На главную</button>
        </form>
    </div>
</body>

</html>