{% extends 'user/users.html' %}

{% block title %}Вход{% endblock %}

{% block body %}
<div class="center"  id="login">
    <div class="window">
        <h2>Вход</h2>
        <form method="POST" action="" novalidate>
            {% csrf_token %}
                <p>
                    <input type="text" name="username"
                placeholder="Имя пользователя" class="form-control">
                </p>
                <p>
                    <input type="password" name="password"
                placeholder="Пароль" class="form-control">
                </p>
                <button name="login">Войти</button>
                <button formaction="{% url 'register' %}">Страница регистрации</button>
                {% for message in messages %}
                    <p id="messages">{{ message }}</p>
                {% endfor %}
        </form>
    </div>
</div>
{% endblock %}