body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}
h2{
    font-size: 30px;
}
#sign {
    font-size:28px
}
.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position:relative;
    top:50px;
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label,
.form-group input {
    display: block;
    width: 95%;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
}


.button-1, .button-2{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 14px 45px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border-radius: 15px;
    margin: 0 auto;

}


.button-1:hover, .button-2:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
}